
/*these two following blocks could be used to style the background countries of the
 NorthAmerica,but not used here for the choropleth map*/

/*aligning the two svgs conatining map and chart*/
body {
	display: inline-block;
}
/*stylize the map background*/
.background {
	fill: #5EB3F5;
	opacity: 0.2;
	stroke:#0E78CA;
	stroke-width:1px;
}
/*this stylizing hides the background data that is not used to display on the map*/
.states {
	fill: #358C17;
	opacity: 0;
	stroke:#000;
	stroke-width:1px;
}

/*style the color, border and position of the svg*/
.map {
	border: medium solid #D4E6F1;
	border-width: 5px;
	background-color: #D6EAF8;
	margin: 10px 0 0 20px;
	position: relative;
	
}
/*stylize the margin and the backgournd of the bar chart*/
.chart {
	background-color: #d6eaf8;
	border: medium solid #D4E6F1;
	border-width: 5px;
	float: left;
	margin: 10px 20px 0 20px;
	
}
/*stylize the title of the bar chart*/
.chartTitle {
	fill:#4d5c66;
	font-family: sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}
/*stylize the background of the chart */
.chartBackground{
	fill: #d6eaf8;
}
/*add a chart frame beneath the bar charts*/
.chartFrame{
	fill: none;
	stroke:#9ea9b2;
	stroke-width:1px;
	shape-rendering: crispEdges;
}
/*stylize the vertical axis*/
.axis path,
.axis line{
	fill: none;
	stroke: #9ea9b2;
	stroke-width: 1px;
	shape-rendering:crispEdges;
}
/* stylize the axis texts*/
.axis text {
	font-family: sans-serif;
	font-size: 1.1em;
	fill:#4d5c66;
}
/*style the path of states within the svg*/
path{
	fill:#5493bc;
	stroke:white;
	stroke-opacity:1;
	stroke-width:0.6px;
	stroke-cap:round;

}





